<h1>Crittle - The place to Critique and be critiqued</h1>

<p>
This is the home page for <a href="http://www.crittle.net/">Crittle</a>
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>