<h1> Crittle</h1>
<h2>The place to Critique and be critiqued</h2>

<p>
This is the home page for <b><i>Crittle</i></b>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>